img.image{
    height: 500px;
    width: 1400px;
}

.img-fluid{
    opacity: 0.1;
}
a#wps{
    font-color: blue;
    background-color: lime;
    font-type: arial;
    float: right;
}
#wps.hover{
    font-color: red;
}
